/* Liens */

  
  /* Listes */
  ul, ol {
    margin-left: 2rem;
    padding-left: 1rem;
  }
  
  ul li, ol li {
    margin-bottom: 0.5rem;
  }
  
  ul li {
    list-style-type: disc; 
  }
  
  ol li {
    list-style-type: decimal; 
  }
  
  